@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Jolly+Lodger&family=Poppins:ital,wght@0,300;0,400;0,500;1,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.image {
    height: 45vh;
    width: 100vw;
    background-image: linear-gradient(rgba(7, 7, 16, 0.71), rgb(217 217 217/37%)), url(../../images/scale.jfif);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    font-size: 28px;


}

.image .button1 {
    margin-top: 1%;
    margin-right: 5%;
    float: right;
    height: 7vh;
    width: 22vw;
    display: flex;
    justify-content: space-evenly;

}

.image .button1 form input {
    background-color: rgb(43 148 255);
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    margin-right: 20px;
}

.head h1 {
    font-family: 'Jolly Lodger', cursive;
    font-size: 2em;
    text-align: center;
    padding-top: 5%;

}

.head h1 span {
    color: #53AADB;
}

.image .button2 {
    background: #332f2faf;
    border-radius: 15px;
    height: 10vh;
    width: 30vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image .info {


    background: linear-gradient(180.45deg, #5898C6 0.39%, rgba(38, 123, 135, 0) 123.26%);
    height: 20vh;
    width: 68vw;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    padding-right: 10px;
}

.image .details {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image .details .From,
.image .details .To,
.image .details .DD,
.image .details .trainSearchNumber {
    background: rgba(35, 41, 35, 0.204);
    border: 1px solid #000000;
    margin: auto;
    font-size: 28px;
    width: 240px;

}

.image .details .From form input,
.image .details .To form input,
.image .details .DD form input,
.image .details .trainSearchNumber form input,
.class {
    width: 95%;
    height: 36px;
    margin-bottom: 3%;
    color: black;
    font-size: 22px;
    cursor: pointer;
    /* text-transform: uppercase; */
}

.class option {
    color: black;
}

.class option:hover {
    cursor: pointer;
}

#flights {
    min-height: 34vh;
}

@media only screen and (max-width: 1450px) {
    .image .info {
        width: 70vw;
    }
}

@media only screen and (max-width: 1400px) {
    .image .button1 {
        width: 22vw;
    }
}

@media only screen and (max-width: 1350px) {
    .image .button1 {
        width: 24vw;
    }

    .image .info {
        width: 75vw;
    }
}

@media only screen and (max-width: 1300px) {
    .image .info {
        width: 82vw;
    }

    .image .button1 {
        width: 26vw;
    }
}

@media only screen and (max-width: 1250px) {
    .image .info {
        width: 80vw;
    }

    .image .button2 {
        width: 33vw;
    }
}

@media only screen and (max-width: 1200px) {
    .image .info {
        width: 83vw;
    }

    .image .button2 {
        width: 36vw;
    }

    .image .button1 {
        height: 6vh;
    }
}

@media only screen and (max-width: 1150px) {
    .image .info {
        width: 88vw;
    }

    .image .button1 {
        width: 28vw;
    }
}

@media only screen and (max-width: 1050px) {
    .image .info {
        width: 95vw;
    }

    .image .button1 {
        width: 30vw;
    }
}

@media only screen and (max-width: 1000px) {
    .image .info {
        width: 98vw;
    }

    .image .button1 {
        width: 32vw;
        height: 5vh;
    }

    .image .button2 {
        width: 38vw;
    }
}

@media only screen and (max-width: 950px) {

    .image .details .From,
    .image .details .To,
    .image .details .DD,
    .image .details .trainSearchNumber {
        width: 200px;
        font-size: 22px;
    }

    .image .details .From form input,
    .image .details .To form input,
    .image .details .DD form input,
    .image .details .trainSearchNumber form input {
        height: 23px;
    }
}

@media only screen and (max-width: 900px) {
    .image .button2 {
        width: 43vw;
        height: 10vh;
    }

    .image .details {
        flex-direction: column;
    }

    .image .info {
        width: 45vw;
        height: 43vh;
    }

    .image .info .details .Search {
        padding-bottom: 2%;
    }

    .image .button1 {
        width: 35vw;
    }

}

@media only screen and (max-width: 850px) {
    .image .button1 {
        width: 38vw;
    }

    .image .button2 {
        width: 48vw;
    }

    .head h1 {
        font-size: 1.8em;
        padding-top: 6%;
    }
}

@media only screen and (max-width: 750px) {
    .head h1 {
        font-size: 1.8em;
        padding-top: 6%;
    }
}

@media only screen and (max-width: 670px) {
    .head h1 {
        padding-top: 5%;
        padding-left: 5%;
    }

    .image .button1 {
        width: 45vw;
        height: 3vh;
    }

    .image .button2 {
        width: 58vw;
    }
}

@media only screen and (max-width: 630px) {
    .image .button1 {
        width: 50vw;
    }

    .image .button2 {
        width: 60vw;
    }

    .image .info {
        width: 50vw;
    }

}

@media only screen and (max-width: 580px) {
    .image .button1 {
        width: 55vw;
    }

    .image .button2 {
        width: 68vw;
    }

    .head h1 {
        padding-top: 6%;
    }
}

@media only screen and (max-width: 515px) {
    .image .button1 {
        width: 60vw;
    }

    .head h1 {
        padding-top: 7%;
    }

    .image .button2 {
        width: 72vw;
    }

    .image .info {
        width: 55vw;
    }
}

@media only screen and (max-width: 480px) {
    .image .button1 {
        width: 65vw;
    }

    .image .button2 {
        width: 75vw;
    }
}

@media only screen and (max-width: 460px) {
    .image .button1 {
        width: 70vw;
    }

    .image .button2 {
        width: 85vw;
    }

    .image .info {
        width: 68vw;
    }
}

@media only screen and (max-width: 400px) {
    .image .button1 {
        width: 78vw;
    }

    .image .button2 {
        width: 90vw;
    }

    .image .info {
        width: 72vw;
    }
}