* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.Aboutus{
    background-color:black;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Slider{
    height:60vh;
    background-image: url(slider.jpg);
    background-size: 100% 100%;
    animation:slider 10s infinite linear ;
}
@keyframes slider{
    0%{ background-image: url(slider.jpg);}
    35%{ background-image: url(train.jpg);}
}
.About_Content{
    padding-top: 10px;
    background-color: black;
    font-size: 50px;
    text-align: center;
    width:100vw;
   
}
.point_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
}
.point{
    width: 25vw;
    height: 40vh;
    background-color:white;
    margin: 40px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;

}
.point h4{
    padding-top: 5px;
    color:black;
    font-size: 40px;
}
.point p{
    font-size: 25px;
    padding-top: 20px;
    color: black;
}
.policy p{
    font-size: 20px;
    text-align: left;
    margin-left:40px;
    margin-right:40px;
    padding-top: 30px;

}
.policy ul li{
    font-size: 18px;
    text-align: left;
    margin-left:40px;
    margin-right:40px;
    padding-top: 30px;
}
.policy ul li span{
    font-size: 25px;
    text-decoration: underline;
    padding-bottom: 10px;
}
.list{
    padding-top: 30px;
    font-size: 25px;
}
.list ul li{
    margin-left: 80px;
    list-style:circle;
    padding-top: 20px;
}
.FAQ{
    padding-top: 30px;
}
.Accordion{
    background-color: rgb(48, 48, 48);
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-evenly;
}
.Accordion .flex{
    width:30vw;


}
.FAQ ul {
    padding-top: 20px;
    
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-bottom: 10px;
    flex-wrap: wrap;
}
.FAQ ul li{
    background-color:white;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;

    border-radius: 4px;
    font-size: 20px;
}
.FAQ ul li label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:26px;
    font-weight: 500;
    cursor:pointer;
    color:black;
    height:8vh;
   
}
.FAQ ul li label span{
    transform: rotate(90deg);
    font-size:20px;
    color: black;
    font-weight: 800;
}
.FAQ label + input[type="radio"]
{
    display:none;
}
.FAQ .content{
    padding :0 10px;
    max-height:0;
    overflow:hidden;
    transition:max-height 0.5s;
    background-color:#BFBCBC;
    margin-bottom: 5px;
   
   

}
.FAQ .content p{
    color:black;
    
}
.FAQ label + input[type="radio"]:checked +.content{
    max-height:400px;
    
}
