* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Searchbox {
    height: 20vh;
    width: 100%;
    background-color: darkblue;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
}

.Tno,
.BoardingS,
.StartDate {
    width: 20vw;
    height: 13vh;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 28px;
    padding-top: 10px;
    padding-left: 25px;
}

.Tno form input,
.BoardingS form input,
.StartDate form input {
    width: 95%;
    height: 36px;
    margin-bottom: 3%;
    color: black;
    font-size: 22px;
}

.Search {
    padding-top: 30px;
}

.Content {
    padding-top: 20px;
    background-color: rgb(51, 83, 146);
    height: 70vh;
}

.Train_details span {
    color: black;
    font-size: 30px;
    font-weight: 300;


}

.Train_details ul {
    display: flex;
}

.Train_details ul li {
    color: black;
    padding: 0 20px;
    font-size: 25px;
    font-weight: 200;
}

.Train_details {
    padding-top: 15px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-left: 20px;
    margin: auto;
    width: 90vw;
    height: 8vh;
    background-color: rgb(144, 169, 215);
    color: black;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 200;
}

.Train_details .type {
    color: black;
    display: flex;
}

.Train_details .type form {
    padding-left: 10px;
}

.Train_details .type form input {
    color: black;
    width: 8vw;
    height: 4vh;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 100;

}

.Traintime {
    background-color: aliceblue;
    color: black;
    width: 90vw;
    height: 18vh;
    margin-top: 10px;
    margin-left: 75px;
    border-radius: 2px;
    padding-left: 80px;
    padding-right: 80px;
}

.Traintime ul li {
    color: black;
    font-size: 30px;
    font-weight: 400;
}

.Traintime ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.Shapes {
    display: flex;
    align-items: center;
    justify-content: end;
}

.Shapes .circle {
    background-color: black;
    height: 2vh;
    width: 1vw;
    border-radius: 10px;
}

.Shapes .line {
    margin-left: 0%;
    margin-right: 0%;
    width: 100vw;
    height: 0.6vh;
    background-color: black;
}

.Stations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding-top: 15px;
    font-size: 20px;
}

.Stations ul li {

    padding: 0 20px;
    margin: 0 3px;
    border: 1px solid;
    border-color: black;
}

.Calender {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 10vh;
    margin-top: 10px;
    margin-left: 75px;
    border-radius: 2px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: white;
}

.Calender ul {
    display: flex;
    align-items: center;
}

.Calender ul li {
    color: black;
    padding: 0 20px;
    margin: 0 10px;
    border: 1px solid;
    border-color: black;
    background-color: rgb(225, 222, 222);
}

.Calender form input {
    color: black;
    width: 8vw;
    height: 4vh;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 100;
}

.livestatus {
    width: 90vw;
    height: 25vh;
    margin-top: 10px;
    margin-left: 75px;
    background-color: aliceblue;
    color: black;
    text-align: center;
}
.tablehead{
    background-color: rgb(144, 169, 215);
    height:8vh;
    padding-left: 50px;
    padding-right: 80px;
    padding-top: 15px;
    

}
.tablehead  th{
    padding: 0 83px;
    font-size: 30px;
    color: black;
}
.Table{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.Table span {
    color:black;
    border: 1px solid;
    border-radius: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.Table td{

    font-size: 30px;
   text-align: center;
    color:black;
    padding: 0 90px;
    
}