@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Jolly+Lodger&family=Poppins:ital,wght@0,300;0,400;0,500;1,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.86);
}

.image {
   height:40vh;
    width: 100vw;
    background-image: linear-gradient(rgba(7, 7, 16, 0.71), rgb(217 217 217/37%)), url(train.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    font-size: 28px;


}

.image .button1 form {
    margin-top: 1%;
    margin-right: 5%;
    float: right;
        height:8vh;
    width:20vw;
    
}

.image .button1 form input {
    background-color:rgb(43 148 255);
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    margin-right: 20px;
}

.head h1 {
    font-family: 'Jolly Lodger', cursive;
    font-size: 2em;
    text-align: center;
    padding-top: 5%;

}

.head h1 span {
    color: #53AADB;
}

.image .button2 {
    background: #332f2faf;
    border-radius: 15px;
    height: 8vh;
    width: 25vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image .button2 form input {
    background-color:rgb(43 148 255);
    color: white;
    height: 5vh;
    width: 10vw;
    border-radius: 15px;
    font-size: large;
    margin-right: 10px;
    margin-left: 25px;
}

.image .info {
    background-color: #353635;
    height: 200px;
    width: 800px;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    padding-right: 10px;
}

.image .details {
    height: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image .details .From {

    background: rgba(35, 41, 35, 0.204);
    border: 1px solid #000000;
    margin: auto;
    font-size: large;


}

.image .details .From form input {
    width: 100%;
    height: 20px;
    margin-bottom: 5%;
    color:black;
}

.image .details .To {
    background: rgba(35, 41, 35, 0.204);
    border: 1px solid #000000;
    margin: auto;
    font-size: large;

}

.image .details .To form input {
    color:black;
    width: 100%;
    height: 20px;
    margin-bottom: 5%;
}

.image .details .DD {
    background: rgba(35, 41, 35, 0.204);
    border: 1px solid #000000;
    margin: auto;
    font-size: large;

}

.image .details .DD form input {
    color:black;
    width: 100%;
    height: 20px;
    margin-bottom: 5%;
}

.image .info .Search form input {
    background: rgb(43 148 255);;
    border-radius: 20px;
    font-family: 'Cambria';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    width: 150px;
    height: 50px;
    align-items: center;
    text-align: center;
  
}
@media only screen and (max-width: 1400px)
{
    .image .button2
    {
           width:28vw;
    }
    .image .button1 form {
        display:flex;
    }
    .head h1 {
        padding-top: 6%;
    }
}
@media only screen and (max-width: 1150px)
{
    .image .button1 form {
        height:5vh;
        width:25vw;
        float:right;
    }
}
@media only screen and (max-width: 950px)
{
    .image .button1 form {
        height:5vh;
        width:30vw;
        float:right;
    }
}
@media only screen and (max-width: 1000px)
{
    .image .button2
    {
           width:35vw;
    }
    .image .button2 form input {
        border-radius: 10px;
      
        height: 5vh;
        width: 12vw;
    }
    .image .button1 form {
        display:flex;
        height: 5vh;
    }
   
}  
@media only screen and (max-width:900px){
    .image .button1 form {
        display:flex;
    }
    .head h1 {
       
        padding-top:7%;
       
    }
} 
@media only screen and (max-width: 800px)
{
    .image .button2
    {
           width:40vw;
    }
    .image .button2 form input {
        border-radius: 10px;
      
        height: 5vh;
        width: 15vw;
    }
  
    .image .button1 form {
        display:flex;
    }
} 
@media only screen and (max-width: 700px)
{
    .image .button2
    {
           width:45vw;
    }
    .image .button1 form {
        height:5vh;
        width:50vw;
        float: right;
    }

} 
@media only screen and (max-width: 1200px) {
    .image .info {
        background-color: #353635;
        height: 35vh;
        width: 90vw;
    }  
}
@media only screen and (max-width: 500px) {
    .image .button2
    {
        height:15vh;
           width:28vw;
         

    }
   
    .image .button2 form input {
        border-radius: 10px;
        height: 5vh;
        width: 18vw;
        padding-bottom: 5px;       
    }
    .image .button1 form {
        height:5vh;
        width:55vw;
        display: flex;
    }
  
}

@media only screen and (max-width: 450px) 
{
    
.image .button1 form {
    height:5vh;
    width:50vw;
    display: flex;
}
.image .button2
{
    height:15vh;
       width:30vw;
       padding: auto;
}
.image .button2 form input {
    border-radius: 10px;
  
    height: 5vh;
    width: 25vw;
    margin:auto;
}}

@media only screen and (max-width: 610px) {
    .image h1 {
        font-size: 2em;
        text-align: center;
        padding-top: 9%;
    }
    .image .button2 form input {
        font-size: medium;
    }

}
@media only screen and (max-width: 800px) {
  .image .details{
    flex-direction: column;
    height:80%;
  }
  .image .info {

    height: 300px;
    padding-top: 10%;

}
}

